* { margin: 0; padding: 0; }
body { background-color: white; font: 14px/1.5 arial,helvetica,clean,sans-serif; color: #000000; }
h1, h2, h3, h4 { margin-bottom: 0.5em; line-height: 1.15em; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; margin-top: 1em; }
h3 { font-size: 1.1em; margin-top: 0.5em; }
h4 { font-size: 1em; margin-top: 0; }
p { margin-bottom: 1em; }
ul, ol { margin-bottom: 1em; margin-left: 1.25em; line-height: 1.5em; }
a { color: #053D99; text-decoration: none; }
a:hover { color: #053D99; text-decoration: underline; }
a img { border: none; }
label { font-weight:bold; }
select { padding: 1px 2px; }
input.radio { margin-right: 4px; }
dl dt { margin-top: 0.5em; }


#top-bar { 
    vertical-align: middle; 
    padding: 0px 10px; 
    position: relative;
    height: 2em;
    line-height: 2em;
}
#top-bar a { 
    text-decoration: underline; 
}
#top-bar #global-crumb {
    position: relative;
    float: left;
}
#top-bar #user-menu {
    position:relative;
    float: right;
}

#header {
    background: #287BBF;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    margin-bottom: 1em;
}
#header #header-text {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    float: left;
}
#header #header-text a {
    color: white;
}

#header #header-menu {
    float: right;
}
#header #header-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}
#header #header-menu ul li {
    display: inline;
    float: left;
    position: relative;
}
#header #header-menu ul li a {
    background: #083363;
    color: white;
    display: block;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin-top: 8px;
    margin-left: 4px;
    padding: 0 12px;
    text-decoration: none;
    border: 1px solid #000;
}
#main {
    padding: 0 10px;
    margin-bottom: 1em;
}


#footer {
    border-top: 1px solid #999;
    padding: 2px 0px;
    margin: 0px 10px;
    padding-top: 10px;
    color: #999;
}

